html {
  font-size: 62.5%;
  box-sizing: border-box;
}
.title {
  font-family: $primary-font;
  font-size: 3.8rem;
  color: $title-color;
  line-height: 1.4;
  font-weight: 500;
}
.text {
  font-family: $second-font;
  font-size: 1.8rem;
  color: $text-color;
  line-height: 1.4;
  font-weight: 400;
}
