a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
body {
  font-family: $primary-font !important;
  line-height: 1;
  color: $title-color;
  font-size: 1.4rem;
}
input,
button,
textarea {
  outline: none;
  font-family: $primary-font;
  line-height: 1;
}
button {
  cursor: pointer;
}
