@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

// absolute center
@mixin absoluteCenter($direction: "left", $position: absolute) {
  position: $position;
  // @if $variable == {}
  @if $direction == "left" {
    left: 50%;
    transform: translateX(-50%);
  }
  @if $direction == "top" {
    top: 50%;
    transform: translateY(-50%);
  }
  @if $direction == "both" {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// background color
@mixin bg($color: #f00) {
  background-color: $color;
}

// absoluteFull
@mixin absoluteFull() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// mixin maxWidth
@mixin maxWidth($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

// mixin minWidth
@mixin minWidth($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

// flexBox
@mixin flexBox(
  $align-items: stretch,
  $justify-content: flex-start,
  $flex-direction: row,
  $flex: flex,
  $wrap: nowrap
) {
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
  display: $flex;
  flex-wrap: $wrap;
}

// hideScroll
@mixin hideScroll() {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

// text clamp
@mixin textClamp($row: 1, $size: 100%) {
  display: -webkit-box;
  -webkit-line-clamp: $row;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: $size;
  max-width: $size;
  white-space: pre-wrap;
  word-break: break-word;
}

@mixin hoverEffect($itemClass, $contentClass, $transform: "true") {
  #{$itemClass} {
    position: relative;
    z-index: 1;
    transition: all 0.25s linear;
    will-change: transform;
    cursor: pointer;
    @if $transform == "true" {
      &:after {
        content: "";
        @include absoluteFull();
        @include bg($third-color);
        z-index: -1;
        transition: all 0.25s linear;
        will-change: transform;
      }
    }
    &:hover {
      #{$contentClass} {
        opacity: 1;
        visibility: visible;
      }
      @if $transform == "true" {
        &:after {
          transform: translate(1rem, 1rem);
          opacity: 1;
          visibility: visible;
        }
        transform: translate(-1rem, -1rem);
      }
    }
  }
  #{$contentClass} {
    @include absoluteFull();
    @include flexBox(center, center, column);
    background: #000000ab;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    transition: all 0.25s linear;
  }
}

@mixin touchSlider($width: 80%, $gap: 2.5rem, $padding: 1rem) {
  display: grid !important;
  justify-content: flex-start !important;
  grid-auto-columns: $width;
  grid-auto-flow: column;
  grid-template-columns: unset;
  grid-column-gap: $gap;
  overflow-x: auto;
  padding: $padding;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  @include hideScroll;
  & > * {
    scroll-snap-align: center;
    width: auto;
  }
}
