$primary-color: #10c9c3;
$secondary-color: #eed789;
$title-color: #191919;
$text-color: #787878;
$border-color: #d8d8d8;
$primary-font: "Montserrat", sans-serif;
$second-font: "Nunito", sans-serif;
$wrapper: 1920px;
$container: 1170px;
