section.breakfast 
		.breakfast-top
			.container
				.breakfast-info
					h3.breakfast-title Light Breakfast 
					p.breakfast-desc Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem, nobis distinctio magni et maxime, nihil cupiditate, accusantium dignissimos labore veritatis porro tempora? Ipsum commodi corporis esse consequatur voluptate quibusdam facere.
					p.breakfast-desc Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem, nobis distinctio magni et maxime, nihil cupiditate.
					.breakfast-location 
						p.breakfast-location-client
							strong Client:
							span Emma Morris
						p.breakfast-location-date
							strong Date:
							span 25.06.2017
						p.breakfast-location-social
							strong Share:
							a(href="") Facebook, 
							a(href="") Twitter, 
							a(href="") Pinterest
		.breakfast-nav
			.container
				.breakfast-nav-prev
					i.fas.fa-chevron-left 
					span Previous project
				.breakfast-nav-center
					i.fas.fa-th-large
				.breakfast-nav-next
					span next project
					i.fas.fa-chevron-right 