section.contact 
	.container
		.contact-top
			.contact-info 
				h3.contact-title Contact Info 
				p.contact-desc Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem, nobis distinctio magni et maxime, nihil cupiditate, accusantium dignissimos labore veritatis porro tempora? Ipsum commodi corporis esse consequatur voluptate quibusdam facere.
				.contact-location 
					p.contact-location-address
						strong Address:
						span 10111 Santa Monica Boulevard, LA
					p.contact-location-phone
						strong Phone:
						span +44 987 065 908
					p.contact-location-email
						strong Email:
						a(href="mailto:info@Example.com")  info@Example.com
					p.contact-location-fax
						strong Fax:
						a(href="tel:44 987 065 909")  +44 987 065 909
			.contact-form 
				form(action="").contact-form-content
				.contact-form-input
					input(type="text" placeholder="Your Name")
					input(type="email" placeholder="Your Email")
				input(type="email" placeholder="Your Title")
				textarea(name="", cols="30", rows="10" placeholder="Your Comment").contact-form-textarea
				button.contact-form-submit Send Message
		.contact-bot
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3456.8888446467054!2d-90.07208778540866!3d29.95387572980136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8620a5f105863cb7%3A0x3d1d86fa03c09c33!2sCanal%20St%2C%20New%20Orleans%2C%20LA%2C%20USA!5e0!3m2!1sen!2s!4v1625795501886!5m2!1sen!2s" width="100%" height="463" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
