section.footer
	.container
		.footer-first 
			p.footer-title Piroll Design Inc
			p &copy; 2017 Piroll. All rights reserved. 
			p Desgin by robirurk			
		.footer-info 
			p.footer-email
				a(href="mailto:hello@pirolltheme.com") hello@pirolltheme.com 
			p 
				a(href="tel:44 123 456 999") +44 123 456 999 
		.footer-menu 
			ul.footer-menu-list 
				li.footer-menu-item
					a.footer-menu-link Projects
				li.footer-menu-item
					a.footer-menu-link About
				li.footer-menu-item
					a.footer-menu-link Services
				li.footer-menu-item
					a.footer-menu-link Career
			ul.footer-menu-list 
				li.footer-menu-item
					a.footer-menu-link Projects
				li.footer-menu-item
					a.footer-menu-link About
				li.footer-menu-item
					a.footer-menu-link Services
				li.footer-menu-item
					a.footer-menu-link Career
		.footer-social
			ul.footer-social-list 
				li.footer-social-item
					a.footer-social-link Facebook
				li.footer-social-item
					a.footer-social-link Twitter
				li.footer-social-item
					a.footer-social-link Services
				li.footer-social-item
					a.footer-social-link Dribble