
section.form
	.container
		+blockBox("Need a Project","Let us know what you're looking for in an agency. We'll take a Let us know what you're looking for in an agency. We'll take a ")
		form(action="").form-content
			.form-input
				input(type="text" placeholder="Your Name")
				input(type="email" placeholder="Your Email")
			input(type="email" placeholder="Your Title")
			textarea(name="", cols="30", rows="10" placeholder="Your Comment").form-textarea
			button.form-submit Send Message
			
