header.header
	.container
		.header-top
			a.header-logo(href="/")
				img(src="./images/logo.png", alt="")
			i.fa.fa-bars.header-icon-toggle
			ul.header-menu
				+menuLink("Home", "/", 'active')
				+menuLink("About", '/about.html')
				+menuLink("Breakfast", '/breakfast.html')
				+menuLink("Process")
				+menuLink("Services")
				+menuLink("Testimonials")
				+menuLink("Contact", "/contact.html")

		.header-content
			h2.header-content-title.title We Design and Develop
			h1.header-content-main.text We are a new design studio based in USA. We have over  20 years We are a new design studio based in USA. We have over  20 years
			a.header-contact-us(href="") Contact us
