
section.job
	.container
		.job-list
			.job-item
				i.fa.fa-gem.job-icon
				.job-content
					.job-title ux / ui design
					.job-desc Be set fourth land god darkness  make it wherein own
			.job-item
				i.fas.fa-fill-drip.job-icon
				.job-content
					.job-title Web developer
					.job-desc Be set fourth land god darkness  make it wherein own
			.job-item
				i.far.fa-mobile.job-icon
				.job-content
					.job-title app / mobile
					.job-desc Be set fourth land god darkness  make it wherein own
			.job-item
				i.far.fa-gamepad.job-icon
				.job-content
					.job-title game / design
					.job-desc Be set fourth land god darkness  make it wherein own
		.job-list
			.job-item
				i.fa.fa-palette.job-icon
				.job-content
					.job-title seo / marketing
					.job-desc Be set fourth land god darkness  make it wherein own
			.job-item
				i.far.fa-star.job-icon
				.job-content
					.job-title photography
					.job-desc Be set fourth land god darkness  make it wherein own
			.job-item
				i.fas.fa-paint-brush.job-icon
				.job-content
					.job-title graphic design
					.job-desc Be set fourth land god darkness  make it wherein own
			.job-item
				i.fas.fa-fill-drip.job-icon
				.job-content
					.job-title Illustrations
					.job-desc Be set fourth land god darkness  make it wherein own