mixin menuLink(title, href="#", active="")
	li.header-menu-item(class=active)
		a.header-menu-link(href=href)=title

mixin blockBox(title, desc, other)
	.block-box
		h2.block-box-title=title
		p.block-box-desc=desc
		if (other)
			p.block-box-desc.block-box-caption=other


mixin galleryItem(src="./images/img-work1.png", icon ="fa fa-eye",title="title", desc="desc", full="")
	.gallery-item(class=full)
		img.gallery-image(src=src)
		.gallery-content 
			i.gallery-icon(class=icon)
	

