
section.number
	.number-list
		.container
			.number-item
				.number-icon
					i.far.fa-briefcase
				.number-text 
					.number-text-count 548
					.number-text-title projects completed
			.number-item
				.number-icon
					i.far.fa-clock 
				.number-text 
					.number-text-count 1465 
					.number-text-title working hours
			.number-item
				.number-icon
					i.far.fa-star
				.number-text 
					.number-text-count 612
					.number-text-title positive feedbacks
			.number-item
				.number-icon
					i.far.fa-heart
				.number-text 
					.number-text-count 735
					.number-text-title happy clients
	.gallery-list 
		.gallery-column 
			+galleryItem("../../images/img-pro-1.JPG", "fa fa-eye", "Creatively designed", "Lorem ipsum dolor sit amet consectetur")
		.gallery-column 
			+galleryItem("../../images/img-pro-2.JPG", "fa fa-eye", "Creatively designed", "Lorem ipsum dolor sit amet consectetur")
		.gallery-column 
			+galleryItem("../../images/img-pro-3.JPG", "fa fa-eye", "Creatively designed", "Lorem ipsum dolor sit amet consectetur")
		.gallery-column 
			+galleryItem("../../images/img-pro-4.JPG", "fa fa-eye", "Creatively designed", "Lorem ipsum dolor sit amet consectetur")
		.gallery-column 
			+galleryItem("../../images/img-pro-5.JPG", "fa fa-eye", "Creatively designed", "Lorem ipsum dolor sit amet consectetur")
		.gallery-column 
			+galleryItem("../../images/img-pro-1.JPG", "fa fa-eye", "Creatively designed", "Lorem ipsum dolor sit amet consectetur")
		.gallery-column 
			+galleryItem("../../images/img-pro-2.JPG", "fa fa-eye", "Creatively designed", "Lorem ipsum dolor sit amet consectetur")
		.gallery-column 
			+galleryItem("../../images/img-pro-3.JPG", "fa fa-eye", "Creatively designed", "Lorem ipsum dolor sit amet consectetur")
	button.number-load-more Load More Work