section.skill
	.container
		.skill-block
			p.skill-title.title Professional Skills
			.skill-item
				.skill-item-name.title ux/ui design
					span 75%
				.skill-item-line
			.skill-item
				.skill-item-name.title web development
					span 75%
				.skill-item-line
			.skill-item
				.skill-item-name.title marketing
					span 75%
				.skill-item-line