section.slide
	.container
		.slide-container 
			.slide-item
				p.slide-desc Lorem, ipsum dolor sit amet consectetur adipisicing elit. In excepturi omnis blanditiis cum praesentium! Asperiores iure in repellat. Unde doloribus consequuntur voluptatum molestiae
				span.slide-author Van Tu
			.slide-item
				p.slide-desc Lorem, ipsum dolor sit amet consectetur adipisicing elit. In excepturi omnis blanditiis cum praesentium! Asperiores iure in repellat. Unde doloribus consequuntur voluptatum molestiae
				span.slide-author Van Tu
			.slide-item
				p.slide-desc Lorem, ipsum dolor sit amet consectetur adipisicing elit. In excepturi omnis blanditiis cum praesentium! Asperiores iure in repellat. Unde doloribus consequuntur voluptatum molestiae
				span.slide-author Van Tu
			