
section.trademark
	.container
		.trademark-list
			img(src="../../images/image-trademark-1.png", alt="").trademark-image
			img(src="../../images/image-trademark-2.png", alt="").trademark-image
			img(src="../../images/image-trademark-3.png", alt="").trademark-image
			img(src="../../images/image-trademark-4.png", alt="").trademark-image
			img(src="../../images/image-trademark-5.png", alt="").trademark-image
