.about-bot {
  background: url("../../images/banner.jpg") no-repeat center / cover;
  min-height: 57rem;
  .block-box {
    width: 50%;
    margin-left: auto;
    margin-right: 0;
    text-align: left;
    padding-bottom: 0;
  }
  &-sign {
    margin: 0 auto;
    margin-top: 35px;
  }
  .block-box {
    max-width: 62.5rem;
  }
  .about-sign {
    margin-left: 50%;
  }
  @include maxWidth(767px) {
    min-height: 50rem;
    background-attachment: fixed;
    background-position-x: unset;
    .block-box {
      width: 100%;
    }
    .about-sign {
      margin-left: auto;
    }
    .block-box-desc {
      color: #333;
      font-size: 1.5rem;
    }
  }
}

.about-page {
  .header {
    min-height: unset;
    background: #fff;
    &-menu-link {
      padding-bottom: 0;
    }
    &-top {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
    }
    &-content {
      display: none;
    }
  }
  @include maxWidth(767px) {
    .header {
      &-top {
        padding-top: 2rem;
        padding-bottom: 2rem;
      }
      &-icon-toggle {
        color: #333;
      }
    }
  }

  .wrapper .about:first-of-type {
    background: linear-gradient(
        to bottom,
        rgba(5, 5, 5, 0.548),
        rgba(0, 0, 0, 0.692)
      ),
      url("https://www.wallpaperup.com/uploads/wallpapers/2012/08/27/11802/e9340632d9c1f59c01d333a644205a91-700.jpg")
        no-repeat center/cover;
    background-attachment: fixed;
    color: #fff;
    .block-box-desc {
      color: #fff;
    }
    .about-sign {
      display: none !important;
    }
  }
  .gallery-list,
  .number-load-more {
    display: none;
  }
}
