.breakfast {
  &-top {
    background: url("../../images/banner-breakfast.png") no-repeat center/cover;
    max-height: 56.5rem;
    padding: 10rem 0;
    @include flexBox(stretch, space-between);
  }
  &-info {
    width: calc(50% - 5rem);
  }
  &-title {
    font-size: 3rem;
    font-weight: 500;
    font-family: $primary-font;
    color: $title-color;
  }
  &-desc {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: $second-font;
    padding-top: 4rem;
    color: $text-color;
    line-height: 2.1rem;
  }
  &-desc:last-of-type {
    padding-bottom: 3.5rem;
  }
  &-location {
    p {
      padding-bottom: 2rem;
      strong {
        font-weight: bold;
        font-size: 1.6rem;
        font-family: $second-font;
        padding-right: 1rem;
        color: $title-color;
      }
      span,
      a {
        font-weight: 400;
        font-size: 1.6rem;
        font-family: $second-font;
        color: $text-color;
      }
      a:hover {
        color: $primary-color;
      }
    }
  }
  &-bot {
    padding-top: 10rem;
  }
  &-nav {
    line-height: 10rem;
    .container {
      @include flexBox(center, space-between);
    }
    &-prev,
    &-next {
      i {
        font-size: 1.6rem;
      }
      span {
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 500;
        padding: 1.5rem;
      }
      &:hover {
        color: $primary-color;
        cursor: pointer;
      }
    }
  }
  @include maxWidth(767px) {
    &-top {
      display: block;
      padding: 5rem 0;
      background-position-x: right;
      background-attachment: fixed;
    }
    &-info {
      width: 100%;
    }
    &-bot {
      padding-top: 0rem;
    }
    &-desc {
      color: #333;
    }
    &-location {
      p {
        padding-bottom: 0;
        span,
        a {
          font-weight: 400;
          font-size: 1.6rem;
          font-family: $second-font;
          color: #333;
        }
        a:hover {
          color: $primary-color;
        }
      }
    }
  }
}
textarea {
  min-height: 17rem;
}

.breakfast-page {
  .header {
    min-height: unset;
    background: #fff;
    &-menu-link {
      padding-bottom: 0;
    }
    &-top {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
    }
    &-content {
      display: none;
    }
  }
  @include maxWidth(767px) {
    .header {
      &-top {
        padding-top: 2rem;
        padding-bottom: 2rem;
      }
      &-icon-toggle {
        color: #333;
      }
    }
  }
}
