.contact {
  background-color: #f5f5f5;
  padding: 10rem 0;
  &-top {
    @include flexBox(stretch, space-between);
  }
  &-info {
    width: calc(40% - 6.5rem);
  }
  &-form {
    width: calc(60% - 6.5rem);
    .block-box {
      max-width: 53.5rem;
    }
    .content {
      width: 67rem;
    }
    &-input {
      @include flexBox(stretch, space-between);
      margin-left: -3rem;
      input {
        width: 50%;
        margin-left: 3rem;
        border: none;
        height: 5rem;
        padding: 2rem;
      }
    }
    input,
    textarea {
      width: 100%;
      border: none;
      margin-bottom: 3rem;
      height: 5rem;
      padding: 2rem;
      font-family: $second-font;
      font-size: 1.5rem;
      color: $text-color;
    }
    &-submit {
      text-transform: uppercase;
      color: #fff;
      padding: 2rem 3rem;
      font-weight: bold;
      font-size: 12px;
      @include bg($primary-color);
      border: none;
      display: block;
      transition: all 0.25s;
      &:hover {
        @include bg(#16a7a2);
      }
    }
    @include maxWidth(767px) {
      margin-top: 2rem;
      padding-bottom: 5rem;
      &-input {
        padding-bottom: 0rem;
      }
    }
  }
  &-title {
    font-size: 3rem;
    font-weight: 500;
    font-family: $primary-font;
    color: $title-color;
  }
  &-desc {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: $second-font;
    padding-bottom: 3.5rem;
    padding-top: 4rem;
    color: $text-color;
    line-height: 2.1rem;
  }
  &-location {
    p {
      padding-bottom: 2rem;
      strong {
        font-weight: bold;
        font-size: 1.6rem;
        font-family: $second-font;
        padding-right: 1rem;
        color: $title-color;
      }
      span,
      a {
        font-weight: 400;
        font-size: 1.6rem;
        font-family: $second-font;
        color: $text-color;
        transition: all 0.25s;
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
  &-bot {
    padding-top: 10rem;
  }
  @include maxWidth(767px) {
    padding: 5rem 0;
    &-top {
      display: block;
    }
    &-info,
    &-form {
      width: 100%;
    }
    &-bot {
      padding-top: 0rem;
    }
  }
}
textarea {
  min-height: 17rem;
}

.contact-page {
  .header {
    min-height: unset;
    background: #fff;
    &-menu-link {
      padding-bottom: 0;
    }
    &-top {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
    }
    &-content {
      display: none;
    }
  }
  @include maxWidth(767px) {
    .header {
      &-top {
        padding-top: 2rem;
        padding-bottom: 2rem;
      }
      &-icon-toggle {
        color: #333;
      }
    }
  }
}
