.footer {
  background-color: #141414;
  padding: 10rem 0;
  color: #bcbcbc;
  .container {
    @include flexBox(stretch, space-between);
  }
  &-first {
    width: 40%;
    p {
      font-family: $second-font;
      font-size: 1.5rem;
    }
    p:nth-child(2) {
      padding-bottom: 1rem;
    }
  }
  &-info,
  &-menu,
  &-social {
    width: 20%;
  }
  &-title {
    font-family: $primary-font;
    font-weight: 500;
    font-size: 1.8rem;
    padding-bottom: 2.5rem;
    color: #fff !important;
  }
  &-info {
    p {
      font-family: $second-font;
      font-size: 1.5rem;
      a {
        color: #bcbcbc;
        transition: all 0.25s;
        &:hover {
          color: #fff;
        }
      }
    }
    p:first-child {
      padding-bottom: 1rem;
    }
  }
  &-menu,
  &-social {
    text-align: center;
    @include flexBox(stretch, space-between);
    &-list {
      width: 50%;
    }
    &-link {
      font-family: $second-font;
      font-size: 1.5rem;
      padding-bottom: 1rem;
      display: inline-block;
      cursor: pointer;
      transition: all 0.25s;
      &:hover {
        color: #fff;
      }
    }
  }
  &-social {
    &-list {
      width: 100%;
    }
  }
  @include maxWidth(767px) {
    padding: 6rem 0 5rem;
    .container {
      flex-wrap: wrap;
    }
    &-first,
    &-info {
      width: 100%;
      margin-bottom: 3.5rem;
    }
    &-menu {
      width: 75%;
    }
    &-social {
      width: 25%;
    }
    &-menu,
    &-social {
      text-align: left;
    }
  }
}
