.form {
  background-color: #f5f5f5;
  padding-bottom: 10rem;
  .block-box {
    max-width: 53.5rem;
  }
  .content {
    width: 67rem;
  }
  &-input {
    @include flexBox(stretch, space-between);
    margin-left: -3rem;
    input {
      width: 50%;
      margin-left: 3rem;
      border: none;
      height: 5rem;
      padding: 2rem;
    }
  }
  input,
  textarea {
    width: 100%;
    border: none;
    margin-bottom: 3rem;
    height: 5rem;
    padding: 2rem;
    font-family: $second-font;
    font-size: 1.5rem;
    color: $text-color;
  }
  &-submit {
    text-transform: uppercase;
    color: #fff;
    padding: 2rem 3rem;
    font-weight: bold;
    font-size: 12px;
    @include bg($primary-color);
    border: none;
    margin: 0 auto;
    display: block;
    &:hover {
      background: #16a7a2;
    }
  }
  @include maxWidth(767px) {
    margin-top: 2rem;
    padding-bottom: 4rem;
    &-input {
      padding-bottom: 0rem;
    }
  }
}
textarea {
  min-height: 17rem;
}
