.header {
  min-height: 67rem;
  background: url("../../images/banner.jpg") no-repeat center / cover;

  color: #fff;
  &-logo {
    font-size: 3rem;
    color: $text-color;
    font-weight: bold;
  }
  &-icon-toggle {
    cursor: pointer;
    font-size: 2rem;
    align-self: center;
    display: none;
  }
  &-menu-link {
    transition: all 0.25s linear;
    border-bottom: 3px solid transparent;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
  }
  &-menu-icon {
    i {
      color: #fff;
    }
  }
  &-top {
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    line-height: 3.5rem;
  }
  &-menu {
    display: flex;
  }
  &-content {
    padding-top: 17rem;
    max-width: 50rem;
    margin-left: auto;
  }
  &-content-title {
  }
  &-content-main {
    padding-bottom: 4rem;
    padding-top: 3rem;
  }
  &-contact-us {
    text-transform: uppercase;
    color: #fff;
    padding: 2rem 3rem;
    font-weight: bold;
    display: inline-block;
    font-size: 1.2rem;
    font-family: $primary-font;
    @include bg($primary-color);
    letter-spacing: 2px;
    transition: all 0.25s;
    &:hover {
      background: #16a7a2;
    }
  }
  @include minWidth(768px) {
    &-menu-item:not(:first-child) {
      padding-left: 5rem;
    }
    &-menu-link {
      color: #1d1d1d;
      padding-bottom: 1rem;
      border-bottom: 3px solid transparent;
      display: inline-block;
      font-family: $primary-font;
      font-weight: 500;
      &:hover {
        color: $primary-color;
      }
    }
    .header-menu-item.active .header-menu-link,
    &-menu-link:hover {
      color: $primary-color;
    }
  }

  @include maxWidth(1023px) {
    min-height: unset;
    background-position: unset;
    background-attachment: fixed;
    .header-content-main {
      font-size: 10rem;
    }
    .header-content {
      padding-top: 10rem;
    }
    .header-bottom {
      margin-top: 10rem;
    }
  }
  @include maxWidth(767px) {
    .header-content-main {
      font-size: 2rem;
      color: #333;
    }
    .header-content-title {
      font-size: 3rem;
    }
    .header-bottom-item {
      text-align: center;
      padding-top: 1.5rem;
    }
    .header-content {
      padding-top: 5rem;
      padding-bottom: 4rem;
    }
    .header-bottom {
      margin-top: 5rem;
    }
    .header-menu {
      position: fixed;
      z-index: 10;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #fff;
      width: 32rem;
      display: block;
      padding: 20px 25px;
      transform: translateX(100%);
      transition: all 0.25s ease-in;
    }
    .header-menu.is-expand {
      transform: translateX(0);
    }
    .header-menu-icon {
      display: block;
      padding: 15px;
      &:hover i {
        color: $primary-color;
      }
    }
    .header-menu-icon i {
      color: $title-color;
    }
    .header-menu-link {
      width: 100%;
      color: #333;
      display: block;
      &:hover {
        color: $primary-color;
      }
    }
    .header-menu-item {
      margin-bottom: 10px;
    }
    .header-menu-item:not(:last-child) {
      border-bottom: 1px solid #00000038;
    }
    &-icon-toggle {
      display: block;
      color: #333;
    }
  }
}
