.job {
  padding: 10rem 0;
  background-color: #f5f5f5;
  &-list {
    @include flexBox(center, space-between);
    margin-left: -3.5rem;
  }
  &-list:first-child {
    padding-bottom: 6rem;
  }
  &-item {
    width: 25%;
    margin-left: 3.5rem;
    text-align: center;
  }
  &-icon {
    font-size: 4rem;
  }
  &-title {
    font-size: 1.2rem;
    font-family: $primary-font;
    padding: 3rem 0 2rem;
    color: $title-color;
    font-weight: 600;
    text-transform: uppercase;
  }
  &-desc {
    font-size: 1.6rem;
    font-family: $second-font;
    color: $text-color;
  }
  @include maxWidth(767px) {
    padding-top: 5rem;
    padding-bottom: 5rem;
    &-item {
      margin-left: 1rem;
    }
    &-list {
      margin-left: -1rem;
    }
    &-icon {
      font-size: 3rem;
    }
  }
}
