.need-project {
  padding-bottom: 10rem;
  .block-box {
    max-width: 54rem;
  }
  &-submit {
    text-transform: uppercase;
    color: #fff;
    padding: 2rem 3rem;
    font-weight: bold;
    font-size: 12px;
    @include bg($primary-color);
    border: none;
    display: block;
    margin: 0 auto;
    letter-spacing: 2px;
    transition: all 0.25s;
    &:hover {
      @include bg(#16a7a2);
    }
  }
  @include maxWidth(767px) {
    padding-bottom: 5rem;
  }
}
