.number {
  &-list {
    @include bg($primary-color);
    padding: 10rem 0;
    color: #fff;
  }
  .container {
    @include flexBox(stretch, space-between);
  }
  &-icon {
    font-size: 4rem;
    padding-right: 3rem;
  }
  &-item {
    width: 25%;
    @include flexBox(center);
  }
  &-text-count {
    font-size: 1.8rem;
    font-weight: 500;
    padding-bottom: 1.5rem;
    font-family: $primary-font;
  }
  &-text-title {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
  }
  &-load-more {
    display: block;
    padding: 4rem 0;
    font-size: 1.2rem;
    font-weight: 500;
    color: #8e8e8e;
    text-transform: uppercase;
    width: 100%;
    border: none;
    @include bg(#f5f5f5);
    transition: all 0.25s;
    &:hover {
      @include bg(#efecec);
    }
  }
  @include maxWidth(767px) {
    &-list {
      padding-top: 5rem;
      padding-bottom: 0;
    }
    .container {
      flex-wrap: wrap;
    }
    &-item {
      width: 50%;
      margin-bottom: 5rem;
    }
  }
}

.gallery {
  padding-top: 10rem;
  &-list {
    @include flexBox;
    flex-wrap: wrap;
    // height: 78rem;
  }
  &-column {
    width: 25%;
    // max-height: 30rem;
  }
  &-content {
    color: #fff;
    text-align: center;
    padding: 1.5rem;
  }
  &-icon {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  &-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &-item {
    height: 100%;
  }
  &-item--full {
    height: 100%;
  }
  @include maxWidth(1600px) {
    &-list {
      height: 60rem;
    }
  }
  @include maxWidth(1279px) {
    &-list {
      flex-wrap: wrap;
      overflow: hidden;
      height: auto;
    }
    // &-item {
    //   height: 42rem;
    // }
    // &-item--full {
    //   height: 84rem;
    // }
  }
  @include maxWidth(767px) {
    padding-top: 5rem;
    &-column {
      width: 50%;
      height: 20rem;
    }
    &-item,
    &-item--full {
      height: 100%;
    }
  }
}

@include hoverEffect(".gallery-item ", ".gallery-content", "false");
