.process {
  padding-bottom: 10rem;
  .block-box {
    max-width: 50rem;
  }
  &-media {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  @include maxWidth(767px) {
    padding-bottom: 5rem;
  }
}
