.skill {
  padding: 10rem 0;
  background: url("../../images/banner-skill.jpg") no-repeat right / cover;

  .container {
    @include flexBox(stretch, space-between);
  }
  &-block {
    width: 50%;
  }
  &-title {
    font-size: 3rem;
    font-family: $primary-font;
    padding-bottom: 40px;
  }
  &-item {
    padding-bottom: 2rem;
    border-bottom: 0.3rem solid $border-color;
    position: relative;
    margin-bottom: 4rem;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      @include size(75%, 0.3rem);
      @include bg($primary-color);
      transform: translateY(100%);
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &-item-name {
    font-size: 1.2rem;
    font-weight: 600;
    font-family: $primary-font;
    text-transform: uppercase;

    span {
      padding-left: 1.5rem;
    }
  }
  @include maxWidth(767px) {
    padding: 5rem 0;
  }
}
