.slide {
  background-color: $primary-color;
  padding: 16rem 0;
  color: #fff;
  text-align: center;
  &-container {
    max-width: 82rem;
    margin: 0 auto;
  }
  &-desc {
    font-size: 2.4rem;
    font-weight: 500;
    font-family: $primary-font;
    line-height: 3rem;
    padding-bottom: 3.5rem;
  }
  &-author {
    font-size: 1.2rem;
    font-weight: 500;
    font-family: $primary-font;
    text-transform: uppercase;
  }
}
.slick-dots li.slick-active button:before {
  color: orange !important;
}
