.wrapper {
  max-width: $wrapper;
  margin: 0 auto;
}
.container {
  max-width: $container + 30px;
  margin: 0 auto;
  padding: 0 15px;
}

.block-box {
  text-align: center;
  max-width: 95rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10rem;
  padding-bottom: 4rem;
  &-title {
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 4rem;
  }
  &-desc {
    font-family: $second-font;
    font-size: 1.6rem;
    color: $text-color;
    line-height: 1.4;
    font-weight: 400;
  }
  &-caption {
    padding-top: 3rem;
  }
  @include maxWidth(767px) {
    padding-top: 6rem;
    padding-bottom: 0rem;
    &-title {
      font-size: 2.5rem;
      padding-bottom: 2.5rem;
    }
    &-desc {
      font-size: 1.4rem;
      margin-bottom: 4rem;
    }
  }
}
