.trademark {
  padding: 6.5rem 0 6rem;
  &-list {
    @include flexBox(center, space-between);
  }
  &-image {
    width: calc(25% - 14rem);
    text-align: center;
  }
  @include maxWidth(767px) {
    display: none;
  }
}
