html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 3.8rem;
  color: #191919;
  line-height: 1.4;
  font-weight: 500; }

.text {
  font-family: "Nunito", sans-serif;
  font-size: 1.8rem;
  color: #787878;
  line-height: 1.4;
  font-weight: 400; }

a {
  text-decoration: none; }

img {
  display: block;
  max-width: 100%; }

body {
  font-family: "Montserrat", sans-serif !important;
  line-height: 1;
  color: #191919;
  font-size: 1.4rem; }

input,
button,
textarea {
  outline: none;
  font-family: "Montserrat", sans-serif;
  line-height: 1; }

button {
  cursor: pointer; }

.wrapper {
  max-width: 1920px;
  margin: 0 auto; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px; }

.block-box {
  text-align: center;
  max-width: 95rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10rem;
  padding-bottom: 4rem; }
  .block-box-title {
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 4rem; }
  .block-box-desc {
    font-family: "Nunito", sans-serif;
    font-size: 1.6rem;
    color: #787878;
    line-height: 1.4;
    font-weight: 400; }
  .block-box-caption {
    padding-top: 3rem; }
  @media screen and (max-width: 767px) {
    .block-box {
      padding-top: 6rem;
      padding-bottom: 0rem; }
      .block-box-title {
        font-size: 2.5rem;
        padding-bottom: 2.5rem; }
      .block-box-desc {
        font-size: 1.4rem;
        margin-bottom: 4rem; } }

.header {
  min-height: 67rem;
  background: url("../../images/banner.jpg") no-repeat center/cover;
  color: #fff; }
  .header-logo {
    font-size: 3rem;
    color: #787878;
    font-weight: bold; }
  .header-icon-toggle {
    cursor: pointer;
    font-size: 2rem;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    display: none; }
  .header-menu-link {
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    border-bottom: 3px solid transparent;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500; }
  .header-menu-icon i {
    color: #fff; }
  .header-top {
    padding-top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    line-height: 3.5rem; }
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header-content {
    padding-top: 17rem;
    max-width: 50rem;
    margin-left: auto; }
  .header-content-main {
    padding-bottom: 4rem;
    padding-top: 3rem; }
  .header-contact-us {
    text-transform: uppercase;
    color: #fff;
    padding: 2rem 3rem;
    font-weight: bold;
    display: inline-block;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    background-color: #10c9c3;
    letter-spacing: 2px;
    -webkit-transition: all 0.25s;
    transition: all 0.25s; }
    .header-contact-us:hover {
      background: #16a7a2; }
  @media screen and (min-width: 768px) {
    .header-menu-item:not(:first-child) {
      padding-left: 5rem; }
    .header-menu-link {
      color: #1d1d1d;
      padding-bottom: 1rem;
      border-bottom: 3px solid transparent;
      display: inline-block;
      font-family: "Montserrat", sans-serif;
      font-weight: 500; }
      .header-menu-link:hover {
        color: #10c9c3; }
    .header .header-menu-item.active .header-menu-link, .header-menu-link:hover {
      color: #10c9c3; } }
  @media screen and (max-width: 1023px) {
    .header {
      min-height: unset;
      background-position: unset;
      background-attachment: fixed; }
      .header .header-content-main {
        font-size: 10rem; }
      .header .header-content {
        padding-top: 10rem; }
      .header .header-bottom {
        margin-top: 10rem; } }
  @media screen and (max-width: 767px) {
    .header .header-content-main {
      font-size: 2rem;
      color: #333; }
    .header .header-content-title {
      font-size: 3rem; }
    .header .header-bottom-item {
      text-align: center;
      padding-top: 1.5rem; }
    .header .header-content {
      padding-top: 5rem;
      padding-bottom: 4rem; }
    .header .header-bottom {
      margin-top: 5rem; }
    .header .header-menu {
      position: fixed;
      z-index: 10;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #fff;
      width: 32rem;
      display: block;
      padding: 20px 25px;
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      -webkit-transition: all 0.25s ease-in;
      transition: all 0.25s ease-in; }
    .header .header-menu.is-expand {
      -webkit-transform: translateX(0);
      transform: translateX(0); }
    .header .header-menu-icon {
      display: block;
      padding: 15px; }
      .header .header-menu-icon:hover i {
        color: #10c9c3; }
    .header .header-menu-icon i {
      color: #191919; }
    .header .header-menu-link {
      width: 100%;
      color: #333;
      display: block; }
      .header .header-menu-link:hover {
        color: #10c9c3; }
    .header .header-menu-item {
      margin-bottom: 10px; }
    .header .header-menu-item:not(:last-child) {
      border-bottom: 1px solid #00000038; }
    .header-icon-toggle {
      display: block;
      color: #333; } }

.about {
  padding-bottom: 10rem;
  background-color: #fff; }
  .about-sign {
    margin: 0 auto;
    margin-top: 35px; }
  .about .block-box {
    max-width: 62.5rem; }
  @media screen and (max-width: 767px) {
    .about {
      padding-bottom: 5rem; } }

@media screen and (min-width: 768px) {
  .about-page .header {
    min-height: unset;
    background: #fff; }
    .about-page .header-menu-link {
      padding-bottom: 0; }
    .about-page .header-top {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem; }
    .about-page .header-content {
      display: none; } }

@media screen and (max-width: 767px) {
  .about-page .header-top {
    padding-top: 2rem;
    padding-bottom: 2rem; }
  .about-page .header-icon-toggle {
    color: #333; } }

.about-page .wrapper .about:first-of-type {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 5, 5, 0.548)), to(rgba(0, 0, 0, 0.692))), url("https://www.wallpaperup.com/uploads/wallpapers/2012/08/27/11802/e9340632d9c1f59c01d333a644205a91-700.jpg") no-repeat center/cover;
  background: linear-gradient(to bottom, rgba(5, 5, 5, 0.548), rgba(0, 0, 0, 0.692)), url("https://www.wallpaperup.com/uploads/wallpapers/2012/08/27/11802/e9340632d9c1f59c01d333a644205a91-700.jpg") no-repeat center/cover;
  background-attachment: fixed;
  color: #fff; }
  .about-page .wrapper .about:first-of-type .block-box-desc {
    color: #fff;
    margin-bottom: 1rem; }
  .about-page .wrapper .about:first-of-type .about-sign {
    display: none !important; }

.about-page .gallery-list,
.about-page .number-load-more {
  display: none; }

.slide {
  background-color: #10c9c3;
  padding: 16rem 0;
  color: #fff;
  text-align: center; }
  .slide-container {
    max-width: 82rem;
    margin: 0 auto; }
  .slide-desc {
    font-size: 2.4rem;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    line-height: 3rem;
    padding-bottom: 3.5rem; }
  .slide-author {
    font-size: 1.2rem;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase; }

.slick-dots li.slick-active button:before {
  color: orange !important; }

.about-bot {
  background: url("../../images/banner.jpg") no-repeat center/cover;
  min-height: 57rem; }
  .about-bot .block-box {
    width: 50%;
    margin-left: auto;
    margin-right: 0;
    text-align: left;
    padding-bottom: 0; }
  .about-bot-sign {
    margin: 0 auto;
    margin-top: 35px; }
  .about-bot .block-box {
    max-width: 62.5rem; }
  .about-bot .about-sign {
    margin-left: 50%; }
  @media screen and (max-width: 767px) {
    .about-bot {
      min-height: 50rem;
      background-attachment: fixed;
      background-position-x: unset; }
      .about-bot .block-box {
        width: 100%; }
      .about-bot .about-sign {
        margin-left: auto; }
      .about-bot .block-box-desc {
        color: #333;
        font-size: 1.5rem; } }

.about-page .header {
  min-height: unset;
  background: #fff; }
  .about-page .header-menu-link {
    padding-bottom: 0; }
  .about-page .header-top {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem; }
  .about-page .header-content {
    display: none; }

@media screen and (max-width: 767px) {
  .about-page .header-top {
    padding-top: 2rem;
    padding-bottom: 2rem; }
  .about-page .header-icon-toggle {
    color: #333; } }

.about-page .wrapper .about:first-of-type {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 5, 5, 0.548)), to(rgba(0, 0, 0, 0.692))), url("https://www.wallpaperup.com/uploads/wallpapers/2012/08/27/11802/e9340632d9c1f59c01d333a644205a91-700.jpg") no-repeat center/cover;
  background: linear-gradient(to bottom, rgba(5, 5, 5, 0.548), rgba(0, 0, 0, 0.692)), url("https://www.wallpaperup.com/uploads/wallpapers/2012/08/27/11802/e9340632d9c1f59c01d333a644205a91-700.jpg") no-repeat center/cover;
  background-attachment: fixed;
  color: #fff; }
  .about-page .wrapper .about:first-of-type .block-box-desc {
    color: #fff; }
  .about-page .wrapper .about:first-of-type .about-sign {
    display: none !important; }

.about-page .gallery-list,
.about-page .number-load-more {
  display: none; }

.need-project {
  padding-bottom: 10rem; }
  .need-project .block-box {
    max-width: 54rem; }
  .need-project-submit {
    text-transform: uppercase;
    color: #fff;
    padding: 2rem 3rem;
    font-weight: bold;
    font-size: 12px;
    background-color: #10c9c3;
    border: none;
    display: block;
    margin: 0 auto;
    letter-spacing: 2px;
    -webkit-transition: all 0.25s;
    transition: all 0.25s; }
    .need-project-submit:hover {
      background-color: #16a7a2; }
  @media screen and (max-width: 767px) {
    .need-project {
      padding-bottom: 5rem; } }

.skill {
  padding: 10rem 0;
  background: url("../../images/banner-skill.jpg") no-repeat right/cover; }
  .skill .container {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .skill-block {
    width: 50%; }
  .skill-title {
    font-size: 3rem;
    font-family: "Montserrat", sans-serif;
    padding-bottom: 40px; }
  .skill-item {
    padding-bottom: 2rem;
    border-bottom: 0.3rem solid #d8d8d8;
    position: relative;
    margin-bottom: 4rem; }
    .skill-item::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 75%;
      height: 0.3rem;
      background-color: #10c9c3;
      -webkit-transform: translateY(100%);
      transform: translateY(100%); }
    .skill-item:last-child {
      margin-bottom: 0; }
  .skill-item-name {
    font-size: 1.2rem;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase; }
    .skill-item-name span {
      padding-left: 1.5rem; }
  @media screen and (max-width: 767px) {
    .skill {
      padding: 5rem 0; } }

.number-list {
  background-color: #10c9c3;
  padding: 10rem 0;
  color: #fff; }

.number .container {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.number-icon {
  font-size: 4rem;
  padding-right: 3rem; }

.number-item {
  width: 25%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.number-text-count {
  font-size: 1.8rem;
  font-weight: 500;
  padding-bottom: 1.5rem;
  font-family: "Montserrat", sans-serif; }

.number-text-title {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase; }

.number-load-more {
  display: block;
  padding: 4rem 0;
  font-size: 1.2rem;
  font-weight: 500;
  color: #8e8e8e;
  text-transform: uppercase;
  width: 100%;
  border: none;
  background-color: #f5f5f5;
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }
  .number-load-more:hover {
    background-color: #efecec; }

@media screen and (max-width: 767px) {
  .number-list {
    padding-top: 5rem;
    padding-bottom: 0; }
  .number .container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .number-item {
    width: 50%;
    margin-bottom: 5rem; } }

.gallery {
  padding-top: 10rem; }
  .gallery-list {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .gallery-column {
    width: 25%; }
  .gallery-content {
    color: #fff;
    text-align: center;
    padding: 1.5rem; }
  .gallery-icon {
    font-size: 3rem;
    margin-bottom: 1rem; }
  .gallery-image {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  .gallery-item {
    height: 100%; }
  .gallery-item--full {
    height: 100%; }
  @media screen and (max-width: 1600px) {
    .gallery-list {
      height: 60rem; } }
  @media screen and (max-width: 1279px) {
    .gallery-list {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      overflow: hidden;
      height: auto; } }
  @media screen and (max-width: 767px) {
    .gallery {
      padding-top: 5rem; }
      .gallery-column {
        width: 50%;
        height: 20rem; }
      .gallery-item, .gallery-item--full {
        height: 100%; } }

.gallery-item {
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
  will-change: transform;
  cursor: pointer; }
  .gallery-item:hover .gallery-content {
    opacity: 1;
    visibility: visible; }

.gallery-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  background: #000000ab;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear; }

.process {
  padding-bottom: 10rem; }
  .process .block-box {
    max-width: 50rem; }
  .process-media {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0; }
    .process-media iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  @media screen and (max-width: 767px) {
    .process {
      padding-bottom: 5rem; } }

.job {
  padding: 10rem 0;
  background-color: #f5f5f5; }
  .job-list {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-left: -3.5rem; }
  .job-list:first-child {
    padding-bottom: 6rem; }
  .job-item {
    width: 25%;
    margin-left: 3.5rem;
    text-align: center; }
  .job-icon {
    font-size: 4rem; }
  .job-title {
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    padding: 3rem 0 2rem;
    color: #191919;
    font-weight: 600;
    text-transform: uppercase; }
  .job-desc {
    font-size: 1.6rem;
    font-family: "Nunito", sans-serif;
    color: #787878; }
  @media screen and (max-width: 767px) {
    .job {
      padding-top: 5rem;
      padding-bottom: 5rem; }
      .job-item {
        margin-left: 1rem; }
      .job-list {
        margin-left: -1rem; }
      .job-icon {
        font-size: 3rem; } }

.trademark {
  padding: 6.5rem 0 6rem; }
  .trademark-list {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .trademark-image {
    width: calc(25% - 14rem);
    text-align: center; }
  @media screen and (max-width: 767px) {
    .trademark {
      display: none; } }

.form {
  background-color: #f5f5f5;
  padding-bottom: 10rem; }
  .form .block-box {
    max-width: 53.5rem; }
  .form .content {
    width: 67rem; }
  .form-input {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-left: -3rem; }
    .form-input input {
      width: 50%;
      margin-left: 3rem;
      border: none;
      height: 5rem;
      padding: 2rem; }
  .form input,
  .form textarea {
    width: 100%;
    border: none;
    margin-bottom: 3rem;
    height: 5rem;
    padding: 2rem;
    font-family: "Nunito", sans-serif;
    font-size: 1.5rem;
    color: #787878; }
  .form-submit {
    text-transform: uppercase;
    color: #fff;
    padding: 2rem 3rem;
    font-weight: bold;
    font-size: 12px;
    background-color: #10c9c3;
    border: none;
    margin: 0 auto;
    display: block; }
    .form-submit:hover {
      background: #16a7a2; }
  @media screen and (max-width: 767px) {
    .form {
      margin-top: 2rem;
      padding-bottom: 4rem; }
      .form-input {
        padding-bottom: 0rem; } }

textarea {
  min-height: 17rem; }

.contact {
  background-color: #f5f5f5;
  padding: 10rem 0; }
  .contact-top {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .contact-info {
    width: calc(40% - 6.5rem); }
  .contact-form {
    width: calc(60% - 6.5rem); }
    .contact-form .block-box {
      max-width: 53.5rem; }
    .contact-form .content {
      width: 67rem; }
    .contact-form-input {
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      margin-left: -3rem; }
      .contact-form-input input {
        width: 50%;
        margin-left: 3rem;
        border: none;
        height: 5rem;
        padding: 2rem; }
    .contact-form input,
    .contact-form textarea {
      width: 100%;
      border: none;
      margin-bottom: 3rem;
      height: 5rem;
      padding: 2rem;
      font-family: "Nunito", sans-serif;
      font-size: 1.5rem;
      color: #787878; }
    .contact-form-submit {
      text-transform: uppercase;
      color: #fff;
      padding: 2rem 3rem;
      font-weight: bold;
      font-size: 12px;
      background-color: #10c9c3;
      border: none;
      display: block;
      -webkit-transition: all 0.25s;
      transition: all 0.25s; }
      .contact-form-submit:hover {
        background-color: #16a7a2; }
    @media screen and (max-width: 767px) {
      .contact-form {
        margin-top: 2rem;
        padding-bottom: 5rem; }
        .contact-form-input {
          padding-bottom: 0rem; } }
  .contact-title {
    font-size: 3rem;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    color: #191919; }
  .contact-desc {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
    padding-bottom: 3.5rem;
    padding-top: 4rem;
    color: #787878;
    line-height: 2.1rem; }
  .contact-location p {
    padding-bottom: 2rem; }
    .contact-location p strong {
      font-weight: bold;
      font-size: 1.6rem;
      font-family: "Nunito", sans-serif;
      padding-right: 1rem;
      color: #191919; }
    .contact-location p span,
    .contact-location p a {
      font-weight: 400;
      font-size: 1.6rem;
      font-family: "Nunito", sans-serif;
      color: #787878;
      -webkit-transition: all 0.25s;
      transition: all 0.25s; }
      .contact-location p span:hover,
      .contact-location p a:hover {
        color: #10c9c3; }
  .contact-bot {
    padding-top: 10rem; }
  @media screen and (max-width: 767px) {
    .contact {
      padding: 5rem 0; }
      .contact-top {
        display: block; }
      .contact-info, .contact-form {
        width: 100%; }
      .contact-bot {
        padding-top: 0rem; } }

textarea {
  min-height: 17rem; }

.contact-page .header {
  min-height: unset;
  background: #fff; }
  .contact-page .header-menu-link {
    padding-bottom: 0; }
  .contact-page .header-top {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem; }
  .contact-page .header-content {
    display: none; }

@media screen and (max-width: 767px) {
  .contact-page .header-top {
    padding-top: 2rem;
    padding-bottom: 2rem; }
  .contact-page .header-icon-toggle {
    color: #333; } }

.breakfast-top {
  background: url("../../images/banner-breakfast.png") no-repeat center/cover;
  max-height: 56.5rem;
  padding: 10rem 0;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.breakfast-info {
  width: calc(50% - 5rem); }

.breakfast-title {
  font-size: 3rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #191919; }

.breakfast-desc {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
  padding-top: 4rem;
  color: #787878;
  line-height: 2.1rem; }

.breakfast-desc:last-of-type {
  padding-bottom: 3.5rem; }

.breakfast-location p {
  padding-bottom: 2rem; }
  .breakfast-location p strong {
    font-weight: bold;
    font-size: 1.6rem;
    font-family: "Nunito", sans-serif;
    padding-right: 1rem;
    color: #191919; }
  .breakfast-location p span,
  .breakfast-location p a {
    font-weight: 400;
    font-size: 1.6rem;
    font-family: "Nunito", sans-serif;
    color: #787878; }
  .breakfast-location p a:hover {
    color: #10c9c3; }

.breakfast-bot {
  padding-top: 10rem; }

.breakfast-nav {
  line-height: 10rem; }
  .breakfast-nav .container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .breakfast-nav-prev i, .breakfast-nav-next i {
    font-size: 1.6rem; }
  .breakfast-nav-prev span, .breakfast-nav-next span {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.5rem; }
  .breakfast-nav-prev:hover, .breakfast-nav-next:hover {
    color: #10c9c3;
    cursor: pointer; }

@media screen and (max-width: 767px) {
  .breakfast-top {
    display: block;
    padding: 5rem 0;
    background-position-x: right;
    background-attachment: fixed; }
  .breakfast-info {
    width: 100%; }
  .breakfast-bot {
    padding-top: 0rem; }
  .breakfast-desc {
    color: #333; }
  .breakfast-location p {
    padding-bottom: 0; }
    .breakfast-location p span,
    .breakfast-location p a {
      font-weight: 400;
      font-size: 1.6rem;
      font-family: "Nunito", sans-serif;
      color: #333; }
    .breakfast-location p a:hover {
      color: #10c9c3; } }

textarea {
  min-height: 17rem; }

.breakfast-page .header {
  min-height: unset;
  background: #fff; }
  .breakfast-page .header-menu-link {
    padding-bottom: 0; }
  .breakfast-page .header-top {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem; }
  .breakfast-page .header-content {
    display: none; }

@media screen and (max-width: 767px) {
  .breakfast-page .header-top {
    padding-top: 2rem;
    padding-bottom: 2rem; }
  .breakfast-page .header-icon-toggle {
    color: #333; } }

.footer {
  background-color: #141414;
  padding: 10rem 0;
  color: #bcbcbc; }
  .footer .container {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .footer-first {
    width: 40%; }
    .footer-first p {
      font-family: "Nunito", sans-serif;
      font-size: 1.5rem; }
    .footer-first p:nth-child(2) {
      padding-bottom: 1rem; }
  .footer-info, .footer-menu, .footer-social {
    width: 20%; }
  .footer-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    padding-bottom: 2.5rem;
    color: #fff !important; }
  .footer-info p {
    font-family: "Nunito", sans-serif;
    font-size: 1.5rem; }
    .footer-info p a {
      color: #bcbcbc;
      -webkit-transition: all 0.25s;
      transition: all 0.25s; }
      .footer-info p a:hover {
        color: #fff; }
  .footer-info p:first-child {
    padding-bottom: 1rem; }
  .footer-menu, .footer-social {
    text-align: center;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    .footer-menu-list, .footer-social-list {
      width: 50%; }
    .footer-menu-link, .footer-social-link {
      font-family: "Nunito", sans-serif;
      font-size: 1.5rem;
      padding-bottom: 1rem;
      display: inline-block;
      cursor: pointer;
      -webkit-transition: all 0.25s;
      transition: all 0.25s; }
      .footer-menu-link:hover, .footer-social-link:hover {
        color: #fff; }
  .footer-social-list {
    width: 100%; }
  @media screen and (max-width: 767px) {
    .footer {
      padding: 6rem 0 5rem; }
      .footer .container {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
      .footer-first, .footer-info {
        width: 100%;
        margin-bottom: 3.5rem; }
      .footer-menu {
        width: 75%; }
      .footer-social {
        width: 25%; }
      .footer-menu, .footer-social {
        text-align: left; } }
