extends layout/layout

block vars
	-title = 'About'
	-bodyClass = 'about-page'

block container
	include blocks/about
	include blocks/number
	include blocks/about-bot
	include blocks/need-project


			