extends layout/layout

block vars
	-title = 'Home'
	-bodyClass = 'home-page'

block container
	include blocks/about
	include blocks/skill
	include blocks/number
	include blocks/slide
	include blocks/process
	include blocks/job
	include blocks/trademark
	include blocks/form

			